#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.imageClass{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
}
.tableClass{
  color : black;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tableClass th {
  background-color: white;
}
.tableClass tb {
  padding: 5px;
}
.tableClass tr:nth-child(even) {
  background-color: aquamarine;
}
.tableClass tr:nth-child(odd) {
  background-color: white;
}